.container {
    width: 50%;
    min-width: 200px;
    overflow: hidden;
}

.SideBySide{
    display: flex;
    justify-content: center;
}





form {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #463F3A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

p{
    color: #d29989;
    margin: 5px;
}

button:hover {
    background-color: #cb75b3;
}

@media only screen and (max-width: 700px) {
    .SideBySide{
       flex-direction: column-reverse;
       padding-left: 10px;
       padding-right: 10px;
    }
    
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    .BodyContainer{
        padding: 10px;
    }
  }