body {

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.phone {
    width: 30%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.phone img {
    width: 100%;
    height: auto;
}

.phone:hover {
    transform: scale(1.05);
}

.filters {
    float: left;
    width: 20%;
    margin-top: 20px;
}

.filter-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.filter-btn:hover {
    background-color: #555;
}