* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", "sans-serif";
  /* font-family: "Lucida Console", "Courier New", monospace; */
}

.burger {
  display: none;
  height: 30px;
  width: 30px;
}

body {
  background-color: #eee;
  padding: 0;
  padding-top: 0px;
}

.BodyContainer {
  width: 100%;
  height: 100%;
  padding: 100px;
}

.home_sekcija {
  display: flex;
  margin: 10px;
}

.veliki_tekst {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.mali_teskt {
  margin-top: 20px;
  font-weight: bold;
  color: #463f3a;
  font-size: 15px;
}

.btn {
  background-color: #463f3a;
  padding: 15px;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #cb75b3;
}

.header {
  width: 100%;
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
}

.topBar {
  /* display: flex; */
  display: none;
  background-color: #0f1220;
  color: #eee;
  width: 100%;
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.barItem,
.barItemdisappear {
  margin: 5px;
  padding: 0;
  margin-left: 20px;
  font-size: 0.85rem;
}

.logoBar {
  display: flex;
  justify-content: center;
  background-color: #eee;
  color: #eee;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.logo {
  margin: 10px;
  width: 280px;
  height: 90px;
}

.logoBar h1 {
  color: #463f3a;
  margin-top: auto;
  margin-bottom: auto;
}

.menuBar {
  display: flex;
  background-color: #463f3a;
  color: #fff;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.menuItem {
  margin: 0;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #463f3a;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.infoTextContainer {
  background-color: #fff;
  color: #463f3a;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.menuItem:hover {
  background-color: #cb75b3;
}

.menuItem:active {
  background-color: #70305e;
}

@media only screen and (max-width: 700px) {
  .home_sekcija {
    flex-direction: column;
  }

  .menuBar {
    flex-direction: column;
  }

  .barItemdisappear {
    font-size: 0;
  }

  body {
    padding: 0;
    padding-top: 00px;
  }

  .logoBar {
    flex-direction: column;
  }

  .logo {
    margin: auto;
  }

  .logoBar h1 {
    margin: auto;
  }

  .logoBar a {
    margin: auto;
  }

  .burger {
    display: unset;
  }
}
