* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", "sans-serif";
  /* font-family: "Lucida Console", "Courier New", monospace; */
}

.burger {
  height: 30px;
  width: 30px;
}

body {
  background-color:#eee;
  padding: 0;
  padding-top: 0px;
}

.BodyContainer{
  width: 100%;
  height: 100%;
  padding: 100px;
}

.home_sekcija {
  display: flex;
  margin: 10px;
}

.veliki_tekst {
  background: -webkit-linear-gradient(#f0840a, rgb(235, 171, 8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.mali_teskt {
  margin-top: 20px;
  font-weight: bold;
  color: #f0840a;
  font-size: 15px;
}

.btn {
  background-color: #f0840a;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover {
  background-color: #cd730d;
}


.header {
  width: 100%;
  position: relative;
  z-index: 1000;
  top: 0;
  left: 0;
}

.topBar {
  /* display: flex; */
  display: none;
  background-color: #0f1220; 
  color: #fff; 
  width: 100%;
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

.barItem,
.barItemdisappear {
  margin: 5px;
  padding: 0;
  margin-left: 20px;
  font-size: 0.85rem;
}

.logoBar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #eee;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.logo {
  margin: 10px;
  width: 100px;
  height: 45px;
}

.menuBar {
  display: flex;
  background-color: #f0840a;
  color: #fff; 
  height: 100%;
  width: 100%;
  justify-content: center;
}

.menuItem {
  margin: 0;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f0840a;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.infoTextContainer{
  background-color: #fff;
  color: #f0840a;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 250px
}

.menuItem:hover {
  background-color: #cd730d;
}

.menuItem:active {
  background-color: #e8491d; 
}

@media only screen and (max-width: 700px) {
  .home_sekcija {
    flex-direction: column;
  }

  .menuBar {
    flex-direction: column;
  }

  .barItemdisappear {
    font-size: 0;
  }

  body {
    padding: 0;
    padding-top: 00px;
  }


}
