* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-color:#192731;
  padding: 100px;
  padding-top: 252px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.topBar {
  display: flex;

  background-color: #0f1220; 
  color: #fff; 
  width: 100%;
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

.barItem,
.barItemdisappear {
  margin: 5px;
  padding: 0;
  margin-left: 20px;
  font-size: 0.85rem;
}

.logoBar {
  display: flex;
  background-color: #192731;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.logo {
  margin: 10px;
}

.menuBar {
  display: flex;
  background-color: #0f1220;
  color: #fff; 
  height: 100%;
  width: 100%;
  justify-content: center;
}

.menuItem {
  margin: 0;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  background-color: #0f1220;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.infoTextContainer{
  background-color: #0e1920;
  color: #e8491d;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menuItem:hover {
  background-color: #555;
}

.menuItem:active {
  background-color: #e8491d; 
}

@media only screen and (max-width: 700px) {
  .menuBar {
    flex-direction: column;
  }

  .barItemdisappear {
    font-size: 0;
  }

  body {
    padding-top: 452px;
  }
  

}
